:root{
 --bg-primary-brand: #4D5AE5;
 --bg-pressed-state: #404BBF;
 --c-dark: #2E2F42;
 --c-success: #31D0AA;
 --c-text:#434455;
 --c-subtle-text: #8E8F99;
 --c-accent:#E7E9FC;
 --bg-light:#F4F4FD;
 --c-modal-overlay: #2E2F42;
 --bg-hero: #2E2F42;
 --bg-white:#FFFFFF;
 --bg-modal:#FCFCFC;
 --c-white:#FFFFFF ;
 --c-brand:#4D5AE5;
 --c-state:#404BBF;
 --c-light: #F4F4FD;

}

body{
    font-family:"Roboto", sans-serif;
    font-size:16px;
    color: var(--c-text);
    background-color: var(--bg-white);

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section {
    padding: 120px 0;
}

button {
    font-family: inherit;}

.container {
  width: 1158px;
  margin: 0 auto;
  padding:0 15px 0 15px;
}

/*Menu Navigation*/

.page-header{
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container{
    display: flex;
}
.nav-page{
    display: flex;
    align-items: center;
}

 .link-logo{
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif ;
    text-transform: uppercase;
    color:var(--c-brand);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

  .nav-page.link-logo{
   margin-right: 76px;
}

.accent-n {
    color: var(--c-dark);
}

 .nav-menu {
    display: flex;
    gap: 40px;
}

 a.nav-links.current {
    color: var(--c-state);
}


.nav-links {
    display: inline-block;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: var(--c-dark);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.nav-links.current::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height:4px;
        border-radius: 2px;
        background-color: var(--bg-pressed-state);
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-address {
    display: flex;
    font-style: normal;
    margin-left: auto;
}

.nav-mail {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-contakts {
    display: flex;
    color: var(--c-dark);
    font-family: Roboto;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: var(--c-text);
}

a.nav-contakts{
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header :active{
  color: var(--c-state);
}

.nav-links:hover,.nav-links:focus{
color: var(--c-state);}

.nav-contakts:hover,.nav-contakts:focus{
    color: var(--c-state);}

    /*List-button*/

    .list-button {
    display: flex;
    background: var(--bg-hero);
    background-image:linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
     url(../images/command/people.jpg);
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}

   .title-button{
    display: flex;
    font-family: "Roboto" sans-serif;
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 56px;
    color: var(--c-white);
    text-align: center;
    max-width: 496px;
    margin:0 auto;
    padding-bottom: 48px;
}

.item-button{
    display: flex;
    padding: 16px 32px;
}
.primary-button{
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    color: var(--c-white);
    background: var(--bg-primary-brand);
    font-family:"Roboto" sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover{
    background: var(--bg-pressed-state);
}

.primary-button:focus{
background:var(--bg-pressed-state);
}

/*Feature*/
.page-feature{
 padding: 120px 0;
 background-image: url(../images/portfolio/);
}

.list-feature{
    display: flex;
    gap: 24px;
    align-items: center;
}
.icons-feature{
display: flex;
justify-content: center;
align-items: center;
height: 112px;
margin-bottom: 8px;
border-radius: 4px;
border: 1px solid var(--c-subtle-text);
background-color: var(--bg-light);
}

.item-feature{
width: calc((100% - 72px) / 4);
}

.title-feature{
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--c-dark);
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text-feature{
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing:0.02em;
    color: var(--c-text);

}

/*Team*/

.page-team{
    background: var(--bg-light);
    display: flex;
    padding: 120px 0;
}

.title-teams {
    margin-bottom: 72px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--c-dark);
    text-transform: capitalize;
    text-align: center;
}

.item-teams{
    background-color: var(--c-white);
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-team{
    display: flex;
    gap: 24px;
}

.item-teams {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.page-team img {
    min-width: 100%;
}


.info-team{
        padding: 32px 0;
        text-align: center;
    }

.title-team{
    font-family:"Roboto" sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--c-dark);
    margin-bottom: 8px;
    text-align: center;

}

.text-team{
font-family: "Roboto";
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--c-text);
text-align: center;
margin-bottom: 8px;
}

.list-socials-footer{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 24px;
 }

 .socials-link-footer{
       display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-primary-brand);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.socials-link-footer:hover,
.socials-link-footer:focus{
background-color: var(--bg-pressed-state) 
}
  
.icon-team{
        fill: var(--c-light);
        width: 16px;
        height: 16px;
    }

.social-team{
display: flex;
}

.list-social-team{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;}

.social-item-team{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/*Portfolio*/
.page-portfolio{
padding: 120px 0 120px 0;}

.list-portfolio{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.title-portfolios{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.info-portfolio{
    padding: 32px 16px;
    border: 1px solid var(--c-accent);
    border-top: none;
}

.item-portfolio{
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfolio:hover{
box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.title-portfolio{
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--c-dark);
    margin-bottom: 8px
}

.text-portfolio{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--c-text);
}
 .image-portfolio{
   position: relative;
   overflow: hidden;
   }

.overlay{
   padding: 40px 32px;
    background-color: var(--bg-primary-brand);
    color: var(--c-light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.item-portfolio:hover .overlay {
    transform: translateY(0);
}

/*Footer*/
.page-footer{
    background: var(--bg-hero);
    padding: 100px 0;
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.info-footer{
    margin-right: 120px ;
}

.logo-footer{
    display: inline-block;
    color: var(--c-brand);
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.accent-f{
    color: var(--c-light);
}

.text-footer{
   font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--c-light);
    max-width: 264px;
}

.list-social-footer{
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

.text-social-footer{
color: var(--c-white);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing:0.02em;
margin-bottom: 16px;
}

.social-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary-brand);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: var(--c-success);
}

.social-link-footer .icon{
    fill: var(--c-light);
    width: 24px;
    height: 24px;
     }

   .footer-subscribe {
       margin-left: 80px;
   }

   .text-subscribe{
       font-size: 16px;
       font-weight: 500;
       color: var(--c-white);
       line-height: 1.5;
       letter-spacing: 0.02em;
       margin-bottom: 16px;
   }

   .footer-form {
       display: flex;
       gap: 24px;
       align-items: end;
   }

   .footer-label {
       display: flex;
       flex-direction: column;
       font-size: 16px;
       font-weight: 500;
       color: var(--c-white);
       line-height: 1.5;
       letter-spacing: 0.02em;
       gap: 16px;
   }

   .footer-input {
       color: var(--c-white);
       background-color: var(--bg-pressed-state);
       border: 1px solid var(--c-white);
       border-radius: 4px;
       font-weight: 400;
       font-size: 12px;
       line-height: 1.5;
       letter-spacing: 0.04em;
       padding: 8px 16px;
       width: 264px;
       height: 40px;
       background-color: transparent;
       box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
       filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   }

   .footer-input::placeholder {
       color: var(--c-white);
       font-weight: 400;
       font-size: 12px;
       line-height: 2em;
       letter-spacing: 0.04;
   }

   .footer-input:focus {
       outline: none;
   }

   .subscribe-btn {
       font-family: 'Roboto', sans-serif;
       min-width: 165px;
       height: 40px;
       align-items: center;
       justify-content: center;
       display: flex;
       gap: 16px;
       padding: 8px 24px;
       background-color: var(--c-brand);
       color: var(--c-white);
       border-radius: 4px;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.04em;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       cursor: pointer;
       border: none;
   }

   .subscribe-btn:hover,
   .subscribe-btn:focus {
       background-color: var(--c-state);
   }

   .subscribe-icon {
       margin-left: 16px;
       fill: var(--c-white);
       width: 24px;
       height: 24px;
   }
 /* Modal*/

.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    visibility: visible;
   }
/*
   .is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

   }*/
  .modal{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: var(--bg-modal);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }


.modal-button{
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color:var(--c-accent);
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover{
background-color:var(--bg-pressed-state);
border: none;
} 
.modal-button:focus{
background-color: var(--bg-pressed-state);
    border: none;
}
.modal-button[type='button']:hover .modal-close-icon,
.modal-button[type='button']:focus .modal-close-icon {
    fill: var(--c-white);
}

.modal-close-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.modal-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--c-dark);
    margin-bottom: 16px;
  }
.block{
 margin-bottom: 8px;
   }

   .modal-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--c-subtle-text);
    display: block;
    margin-bottom: 4px;
   }

   .subblock{
    position: relative;}

  .modal-zone:focus{
    border-color:var(--c-brand);}
   

   .modal-zone{
    width:100%;
    height:40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
   }
   
   .modal-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .modal-zone:focus+.modal-icon {
       fill: var(--c-brand);
   }

   .textarea-block{
    margin-bottom: 16px;
   }
   .modal-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
     .modal-textarea:focus{
            border-color:var(--c-brand);
        }

    .checkbox-block{
       margin-bottom: 24px;
     }       
   input[type="checkbox"]:checked+label span{
    background-color:var(--bg-pressed-state);
    border: none;
    fill:var(--c-light);
}


.user-privacy-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--c-subtle-text);
}

.user-privacy-span{
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.user-privacy-icon{
    fill:var(--c-white);
}
.user-privacy-link{
  color:var(--c-brand);
}

.modal-button-fin{
        font-family: "Roboto", sans-serif;
        display: block;
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        background-color: var(--bg-primary-brand);
        border: none;
        border-radius: 4px;
       color: var(--c-white);
      line-height: 1.5;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-left: 119px;
}
